/*

Classes :
.section : default

*/
$caretDownMarginTop:4rem;
$caretDownSize:1.3rem;

.section{
	position:relative;
	width:100%;

	.caret_down {
		display:block;
		margin-top:$caretDownMarginTop;
    cursor:pointer;
    color:var(--red);

		i {
			font-size:$caretDownSize;
		}
	}

}
