/* @fwrlines/generator-react-component 1.5.0 */

/*

Classes :
.hamburger.squeeze : default

*/

/*!
 * Hamburgers
 * @description Tasty CSS-animated hamburgers
 * @author Jonathan Suh @jonsuh
 * @site https://jonsuh.com/hamburgers
 * @link https://github.com/jonsuh/hamburgers
 */

// Settings
// ==================================================
$hamburger-padding-x           : 0 !default;
$hamburger-padding-y           : 0 !default;
$hamburger-layer-width         : 1.8em !default;
$hamburger-layer-height        : 0.18em !default;
$hamburger-layer-spacing       : 0.24em !default;
$hamburger-layer-color         : var(--on-x, var(--paragraph)) !default;
$hamburger-layer-color-alt     : var(--x, var(--paragraph)) !default;
$hamburger-layer-color-alt-hover: var(--light-x, var(--paragraph)) !default;
$hamburger-layer-color-alt-focus: var(--on-x, var(--paragraph)) !default;
$hamburger-layer-border-radius : 0.18em !default;
$hamburger-hover-opacity       : 0.7 !default;
$hamburger-active-layer-color  : $hamburger-layer-color !default;
$hamburger-active-hover-opacity: $hamburger-hover-opacity !default;

// To use CSS filters as the hover effect instead of opacity,
// set $hamburger-hover-use-filter as true and
// change the value of $hamburger-hover-filter accordingly.
$hamburger-hover-use-filter   : false !default;
$hamburger-hover-filter       : opacity(50%) !default;
$hamburger-active-hover-filter: $hamburger-hover-filter !default;

// Hamburger
// ==================================================
.hamburger {
  display: inline-block;
  position: relative;
  margin: 0;
  border: 0;
  //background-color: transparent;
  cursor: pointer;
  overflow: visible;
  padding: $hamburger-padding-y $hamburger-padding-x;
  text-transform: none;
  color: inherit;

  // Normalize (<button>)
  font-family: inherit;

  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;

  &:hover {
    @if $hamburger-hover-use-filter == true {
      filter: $hamburger-hover-filter;
    }
    @else {
      opacity: $hamburger-hover-opacity;
    }
  }

  &.is-active {
    &:hover {
      @if $hamburger-hover-use-filter == true {
        filter: $hamburger-active-hover-filter;
      }
      @else {
        opacity: $hamburger-active-hover-opacity;
      }
    }

    .hamburger-inner,
    .hamburger-inner::before,
    .hamburger-inner::after {
      background-color: $hamburger-active-layer-color;
    }
  }
}

.hamburger-box {
  display: inline-block;
  position: relative;
  top:.16em;
  //top: 50%;
  //transform: translateY(-50%);
  width: $hamburger-layer-width;
  height: $hamburger-layer-height * 3 + $hamburger-layer-spacing * 2;
}

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: $hamburger-layer-height / -2;

  &,
  &::before,
  &::after {
    position: absolute;
    border-radius: $hamburger-layer-border-radius;
    background-color: $hamburger-layer-color;
    width: $hamburger-layer-width;
    height: $hamburger-layer-height;
    transition-property: transform;
    transition-duration: 0.15s;
    transition-timing-function: ease;
  }

  &::before,
  &::after {
    display: block;
    content: "";
  }

  &::before {
    top: ($hamburger-layer-spacing + $hamburger-layer-height) * -1;
  }

  &::after {
    bottom: ($hamburger-layer-spacing + $hamburger-layer-height) * -1;
  }
}

.hamburger.basic .hamburger-inner,
.hamburger.simple .hamburger-inner {
  &,
  &::before,
  &::after {
    background-color: $hamburger-layer-color-alt;
  }
}

.hamburger.basic {
  &:hover {
    .hamburger-inner {
      &,
      &::before,
      &::after {
        background-color: $hamburger-layer-color-alt-hover;
      }
    }
  }

  &:active,
  &:focus {
    .hamburger-inner {
      &,
      &::before,
      &::after {
        background-color: $hamburger-layer-color-alt-focus;
      }
    }
  }
}


/*
   * Slider
   */
.hamburger.slider {
  .hamburger-inner {
    top: $hamburger-layer-height / 2;

    &::before {
      top: $hamburger-layer-height + $hamburger-layer-spacing;
      transition-property: transform, opacity;
      transition-duration: 0.15s;
      transition-timing-function: ease;
    }

    &::after {
      top: ($hamburger-layer-height * 2) + ($hamburger-layer-spacing * 2);
    }
  }

  &.is-active {
    .hamburger-inner {
      $y-offset: $hamburger-layer-spacing + $hamburger-layer-height;
      transform: translate3d(0, $y-offset, 0) rotate(45deg);

      &::before {
        transform: rotate(-45deg) translate3d($hamburger-layer-width / -7, $hamburger-layer-spacing * -1, 0);
        opacity: 0;
      }

      &::after {
        transform: translate3d(0, $y-offset * -2, 0) rotate(-90deg);
      }
    }
  }
}

/*
   * Squeeze
   */
.hamburger.squeeze {
  .hamburger-inner {
    transition-duration: 0.075s;
    transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);

    &::before {
      transition: top 0.075s 0.12s ease,
        opacity 0.075s ease;
    }

    &::after {
      transition: bottom 0.075s 0.12s ease,
        transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }
  }

  &.is-active {
    .hamburger-inner {
      transform: rotate(45deg);
      transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
      transition-delay: 0.12s;

      &::before {
        top: 0;
        opacity: 0;
        transition: top 0.075s ease,
          opacity 0.075s 0.12s ease;
      }

      &::after {
        bottom: 0;
        transform: rotate(-90deg);
        transition: bottom 0.075s ease,
          transform 0.075s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
      }
    }
  }
}

/*
   * Arrow
   */
.hamburger.arrow.is-active {
  .hamburger-inner {
    &::before {
      transform: translate3d($hamburger-layer-width * -0.28, 0, 0) rotate(-45deg) scale(0.7, 1);
    }

    &::after {
      transform: translate3d($hamburger-layer-width * -0.28, 0, 0) rotate(45deg) scale(0.7, 1);
    }
  }
}

