/*

Classes :
.checklist : default

*/
$checkmarkLetter:"o";
$crossLetter:"p";
$iconFontName:"if";
$paddingRight:0.5em;
$checklistTop:0.2em;

.checklist {
  padding-left: 0;
  list-style: none;

  li {
    &::before {
      position: relative;
      top: 0.2em;
      padding-right: $paddingRight;
      color: var(--y, var(--x, var(--green)));
      font-family: $iconFontName;
      content: $checkmarkLetter;
    }

    &:hover,
    &:focus {
      &::before {
        color: var(--z, var(--x));
      }
    }

    &.cross::before {
      content: $crossLetter;
    }
  }
}
