/* @fwrlines/generator-react-component 1.5.0 */

/*

Classes :
.input_inside : default

*/

.input {
  .inside {
    display: flex;
    position:relative;
    align-items:center;

    input,
    textarea,
    select
    {
      width: 100%;
    }
  }
}
