/* @fwrlines/generator-react-component 2.4.1 */

/*

Classes :
.table_view : default

*/

.table_view {
  th,
  td,
  tr {
    border: 0;

    &.actions {
      text-align: right;
    }
  }

  table {
    color: var(--paragraph);
    width: 100%;

    thead {
      background: var(--dark-background);
      border-radius: var(--r);
      position: sticky;
      top: 0;
      z-index:1;

      th {
        text-align: left;

        .inside {
          justify-content: space-between;
        }
      }
    }
  }

  #toggle_button {
    .popup {
      background:var(--light-yellow);
      border-radius: var(--r);
      box-shadow: var(--shadow);
      text-align: left;
      width: 220px;

      z-index: 1;

      .l-resgrid {
        --grid-column-xs: 2;
        --grid-column-md: 2;
      }

      ul {
        margin: 0;

        li {
          input {
            display: none;
          }
          label {
            font-weight:normal;
            cursor:pointer;
          }
        }

        &.visible-columns {
          label {
            color: var(--x-subtitle);
          }
        }

        &.hidden-columns {
          label {
            color: var(--x-metadata);
            text-decoration: line-through;
          }
        }
      }
    }
  }
}
