/* @fwrlines/generator-react-component 2.3.3 */

/*

Classes :
.block_illustration : default

*/

.block_illustration {
  .illustration {
    .figure {
      display: inline-block;

      figcaption {
        font-size: calc(var(--s-2) * 1em);
      }
    }
  }

  @media (max-width: 899px) {
    figcaption {
      display: none;
    }
  }

  @media (min-width: 900px) {
    grid-auto-flow: dense;

    &.left {
      grid-template-columns: [content-start] repeat(6, 1fr) [illustration-start] repeat(6, 1fr);
    }

    &.right {
      grid-template-columns: [illustration-start] repeat(6, 1fr) [content-start] repeat(6, 1fr);
    }

    .content {
      grid-column-start: content-start;
    }

    .illustration {
      grid-column-start: illustration-start;
    }
  }
}
