/*

Classes :
.green_tick : default

*/
$tickDuration:.8s;

$tickDasharrayOutline:480px;

$tickStroke:var(--white);
$tickStrokeDashOffset:110;
$tickStrokeDasharray:110;
$tickStrokeWidth:10;
$tickFill:var(--green);

@keyframes outline {
	0% {
        stroke-dashoffset: $tickDasharrayOutline; 
  }

  100% {
        stroke-dashoffset: $tickDasharrayOutline *2;
  }
}

.green_tick{
	height:100%;

	#outline {
		stroke:$tickFill;
		stroke-dasharray:$tickDasharrayOutline, $tickDasharrayOutline; 
		stroke-dashoffset: $tickDasharrayOutline *2;
		fill:none;
		animation:outline $tickDuration ease-in-out 1 backwards;
	}
	#colored {
		stroke:none;
		fill:$tickFill;
		animation:show $tickDuration ease-in-out 1 forwards;
	}
	#line {
		--ado:#{$tickStrokeDashOffset};
		stroke:$tickStroke;
		stroke-width:$tickStrokeWidth;
		stroke-dasharray:$tickStrokeDasharray; 
		stroke-dashoffset: $tickStrokeDashOffset;//-$tickDasharrayTick *3;
		fill:none;
		animation:draw-stroke $tickDuration ease-in-out 1 $tickDuration forwards;
	}
}

