/* @fwrlines/generator-react-component 2.1.1 */

/*

Classes :
.main : default

*/

.dashboard .main {
  background: var(--y, var(--light-background));
  box-shadow: -0.25em 0 2em 0 rgba(0, 0, 0, 0.15);
  transition: all 0.3s;
  height:100vh;

  z-index: 2;

  @media (max-width: 899px) {
    left: 110%;
    position: fixed;
    top: 0;
    width: 100%;

    &.active {
      left: 0;
    }
  }

  @media (min-width: 900px) {
    grid-column-end: span 12;
  }

}
