/* @fwrlines/generator-react-component 2.3.4 */

/*

Classes :
.footer : default

*/
@use "@fwrlines/alphabet-scss/scss/mixins";
@use "@fwrlines/alphabet-scss/scss/vars/responsive" as *;

$default-padding:1;

.footer {
  .content {
  display: grid;
  grid-gap:calc(var(--u, #{$default-padding}) * 1em);

  @include mixins.media($to:$sm-md) {

  }

  @include mixins.media($from:$sm-md) {
    grid-template-columns: minmax(200px, 2fr) repeat(auto-fit, minmax(100px, 1fr));

  }

  }
}
