/* @fwrlines/generator-react-component 1.4.0 */

/*

Classes :
.input_side : default

*/

.input .inside {
  .side {
    background: var(--form-side-background);
    color: var(--form-side-color);
    display: inline-block;
    padding: var(--form-input-padding);
    white-space: nowrap;

    p {
      position: relative;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}

.input.compact .inside {
  .side {
    padding: var(--form-input-compact-padding);
  }
}
