/* @fwrlines/generator-react-component 1.4.0 */

/*

Classes :
.input_side : default

*/

.input .inside {
  .side {
    display: inline-block;
    background: var(--form-side-background);
    padding: var(--form-input-padding);
    white-space: nowrap;
    color: var(--form-side-color);

    p {
      position: relative;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}
