/*

Classes :
.local_index : default

*/

ul.local_index
{
	> li {
		font-weight:bold;

		ul {
			> li {
				font-weight:normal;
			}
		}
	}
  .title
  {
    margin-bottom:.5em;
  }
	a {
		color:inherit;
	}
}
