/*

Classes :
.rating : default

*/
$titleSize:1.4rem;
$starsSize:1.7rem;

.rating {
  .stars,
  .title {
    margin: 0;
  }

  .name {
    color: var(--y, var(--metadata));

    .content {
      color: var(--subtitle);
      font-weight: bold;
    }
  }

  .title {
    font-size: $titleSize;
    font-weight: bold;
  }

  .stars {
    .fp {
      vertical-align: top;
    }
    margin-bottom: 0.3em;
    background:linear-gradient(
      to right,
      var(--yellow) 0%,
      var(--yellow) 60%,
      var(--light-yellow) 90%,
      var(--yellow) 100%
    );
    -webkit-background-clip: text;
    background-clip: text;
    background-size: 150%;
    font-size: $starsSize;
    -webkit-text-fill-color: transparent;

    &.anim {
      animation: back-horizontal 5s ease infinite;
    }

    .yes {
      color: var(--yellow);
    }

    .no {
      background: var(--light-grey);
      -webkit-background-clip: text;
      background-clip: text;
      color: var(--light-grey);
      -webkit-text-fill-color: transparent;
    }
  }
}
