/* @fwrlines/generator-react-component 1.4.0 */

/*

Classes :
.input_icon : default

*/

.input .inside {
  .input_icon {
    * {
      color: var(--form-input-color);
    }
    display: inline-block;
    padding: var(--form-input-padding);

    p {
      position: relative;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  .side + .input_icon,
  .input_icon:first-child {
    padding-right: 0;
  }

  input + .input_icon,
  textarea + .input_icon {
    padding-left: 0;
  }

  &:focus,
  &:focus-within {
    .input_icon {
      * {
        color: var(--form-input-focus-color);
      }
    }
  }
}

.input.valid {
  .inside {
    .input_icon {
      * {
        color: var(--success);
      }
    }
  }
}

.input.error {
  .inside {
    .input_icon {
      * {
        color: var(--error);
      }
    }
  }
}


