/*

Classes :
.body : default

*/
@import 'scss/variables/responsive';

$localIndexMdWidth:240px;//
$contentMdWidth:680px;//
$localIndexSmBackground:var(--white);
$localIndexPadding:1rem;
$localIndexAnimationDuration:.58s;
$localIndexAnimationDelayDuration:.38s;
$localIndexSmHeight:40px;
$localIndexOpenVerticalPadding:.7em 0 .4em;
$caretHeight:20px;
$caretWidth:5em;
$unfoldDuration:3s;
$contentImageBorderRadius:var(--r2);

@keyframes focus-index {
	0% {
		opacity:0;
	}
	100% {
		opacity:1;
	}
}

@keyframes unfocus-index {
	0% {
		opacity:.99;
	}
	100% {
		opacity:0;
	}
}
@keyframes reduce-index {
	0% {
		max-height:80vh;
	}
	100% {
		max-height:$localIndexSmHeight;
	}
}


.sg-body{
		display:initial;
		padding-left:2em;
		padding-right:2em;

		.inner_content > div{
			> * + img,
			> * + div,
			> *:not(p) + p,
			> * + figure
			{
				margin-top:3rem;
			}

			p, ul, ol {
				text-align:justify;
			}

			img {
				border-radius:$contentImageBorderRadius;
			}
		}
	    
		.local_index {
			font-family:var(--font-h);
			li span {
				font-size:var(--sm);
			}
		}
		
		@include media($to:$sm-md) {


			.local_index_cont {
				padding:0 $localIndexPadding;
				position:sticky;
				top:0;
				background:$localIndexSmBackground;
				//height:600px!important;

			  label {
			  	position:absolute;
			  	//top:50%;
					bottom:($localIndexSmHeight - $caretHeight) / 2;
			  	right:$localIndexPadding;
					z-index:10;
			  	//transform:translateY(-50%);
			  }

				.local_index {
		    	max-width:calc(100% - #{$caretWidth});
					height:$localIndexSmHeight;
					//height:auto;
					//min-height:$localIndexSmHeight;
					//max-height:$localIndexSmHeight;
					//transition:max-height $unfoldDuration;
					overflow:hidden;
				}

			  input[type=checkbox] {
			  	display:none;

			  	&:checked {
			  		& + label {
			  			color:red;
			  		}
			  		& ~ .local_index {
							padding:$localIndexOpenVerticalPadding;
							height:auto;
							//max-height:80vh;

					    li:not(.focus), p.title {
					    	opacity:0;
								position:static;
					    	animation:focus-index $localIndexAnimationDuration ease-in-out normal 1 forwards;
					    }
			  		}
			  	}

					&:not(:checked){
						& ~ .local_index {
					    //height:$localIndexSmHeight;
							opacity:0;
							animation:focus-index $localIndexAnimationDuration ease $localIndexAnimationDelayDuration 1 forwards;

					    .title {
					    	display:none;
					    }

					    li {
					    	//background:white;
					    	top:60%;
					    	transform:translateY(-50%);
					    	position:absolute;
								z-index:-1;
					    }
					    li:not(.focus) {
					    	opacity:0;
					    	animation:unfocus-index $localIndexAnimationDuration ease-in-out normal 1 forwards;
					    }
					    li.focus {
								z-index:10;
					    	opacity:0;
					    	animation:focus-index $localIndexAnimationDuration ease-in-out $localIndexAnimationDelayDuration normal 1 forwards;
					    }
						}
					}
			  }


			}
		}

		@include media($from:$sm-md) {
			display:grid;
			grid-template-columns:[lindex] $localIndexMdWidth [ct] auto;
			label,
			input {
				display:none;
			}

			.local_index_cont {
				grid-column:lindex/ct;
				height:100%;

				.local_index {
					padding:$localIndexPadding;
					position:sticky;
					top:0;
					li {
						transition:all .4s ease;
					}
				}

			}

			.inner_content {
				//grid-column:ct/rs;
			}
		}

		@include media($from:$md-lg) {
			grid-template-columns:auto [lindex] $localIndexMdWidth [ct] $contentMdWidth [rs] auto;
		}


}
