/*

Classes :
.quotation : default

*/
$authorBeforeChar:'—';
$authorMarginRight:4em;
$authorBeforeMarginRight:1em;
$authorFontSize:1.2em;

.quotation{
	.subtitle {
		padding-right:$authorMarginRight;
		font-size:$authorFontSize;

		&:before {
			content:$authorBeforeChar;
			margin-right:$authorBeforeMarginRight;
		}
	}

}
