/* @fwrlines/generator-react-component 1.5.0 */

/*

Classes :
.input_inside : default

*/

.input {
  .inside {
    align-items: stretch;
    display: flex;
    position: relative;

    input,
    textarea,
    select {
      width: 100%;
    }
  }
}
