/* @fwrlines/generator-react-component 1.4.0 */

/*

Classes :
.downshift_combobox : default

*/

.downshift_combobox,
.downshift_multiple_combobox {
  .popup {

    //background: var(--y);
    border-radius: var(--r);
    box-shadow: var(--shadow);
    margin-top: 2px;
    max-height: 350px;
    overflow-y: scroll;
    text-align: left;
    width: 100%;
    z-index: 21;

    ul {
      margin: 0;
    }

    li {
      color: var(--form-input-color);
      font-size: var(--form-input-font-size);
      line-height: var(--form-input-line-height);
      padding: var(--form-input-padding);
      padding-bottom: 0;
      padding-top: 0;
    }
    //font-weight: var(--form-input-font-weight);
  }

  .inside {
    overflow-x: visible;
  }
}

.downshift_combobox {
  .inside {
    .selected-item {
      flex-grow: 99;
      padding: var(--form-input-compact-padding);

      > * {
        display: inline-block;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }
}

.downshift_multiple_combobox {
  .selected-items {
    margin: var(--form-label-margin);

    > * {
      margin: .1em;

      & + * {


      }

      &:focus {
        outline: 2px solid var(--form-input-focus-border-color) !important;
      }
    }
  }
}
