/*

Classes :
.header : default

*/
@import 'scss/variables/responsive';

$imageWidthSm:90%;
$imageWidthMd:65%;
$imageHeightSm:300px;
$imageHeightMd:400px;
$imageCorners:2rem;
$paddingSm:2rem 2rem;
$paddingMd:4rem 4rem;
$descriptionSize:2rem;


	.sg > .sg-header {
		padding:$paddingSm;

		.sub {
			display:inline-block;
			width:$imageWidthSm;

			/*
			.txt {
				font-size:$descriptionSize;
				color:var(--grey);
			}
			*/

			@include media($from:$sm-md) {
				width:$imageWidthMd;
			}
		}
		
		/*
		.img_cont {
			display:inline-block;
			overflow:hidden;

			height:$imageHeightSm;
			width:$imageWidthSm;

			img {
				height:100%;
				width:100%;
			}
		}
		*/

		@include media($from:$sm-md) {
			padding:$paddingMd;

			/*
			.img_cont {
				height:$imageHeightMd;
				width:$imageWidthMd;
			}
			*/

		}
		
	}

