/*

Classes :
.related_articles : default

*/

@import 'scss/variables/responsive';

/*--- Related articles ---*/
$relatedArticleWidthSm:300px;
$relatedArticleImageHeightSm:175px;
$relatedArticleImageHeightMd:200px;

.sg-related_articles {
	> a {
		display:inline-block;
		
		@include media($to:$sm-md){
			min-width:$relatedArticleWidthSm;

		  > div.card {
		  	img {
		  		height:$relatedArticleImageHeightSm;
		  	}
		  }
		}

	  @include media($from:$sm-md){
			flex: 1 1 0px;
	  	> div.card {
	  		img {
	  			height:$relatedArticleImageHeightMd;
	  		}
	  	}
	  }			

	  > div.card {
	  	width:100%;
	  	img {
	  		width:100%;
	  	}
	  }
		
	}

	@include media($from:$sm-md){
		display:flex;
	}			

}

