/*

classes :
.sprite,
.single
.anim :animate (with spirte or single)

*/

$animStrokeDashOffset:2888;
$animStrokeDashArray:2999;

@keyframes dash
{
  from
  {
    stroke-dashoffset:$animStrokeDashOffset ;
  }

  to
  {
    stroke-dashoffset:0;
  }
}

@keyframes dash-a
{
  from
  {
    stroke-dashoffset:$animStrokeDashOffset - 1 ;
  }

  to
  {
    stroke-dashoffset:0;
  }
}

svg.sprite,
svg.single
{
  use
  {
    stroke-width:0;
    fill:var(--f, black);
    transition:all .3s;


    &:not([href$='#'])
    {
      animation:var(--path-animation, none);
    }
  }

  & use.stroke
  {
    stroke-dashoffset:var(--sdo);
    stroke-dasharray:var(--sda);
    stroke:var(--cc);
    stroke-width:var(--sw);
    fill:transparent;
  }

  &.anim
  {
    --sdo:#{$animStrokeDashOffset};
    --sda:#{$animStrokeDashArray};
    --path-animation:dash 2s linear .3s 1 forwards;

    &:hover,
    &:focus
    {
      --path-animation:dash-a 1s linear 0s 1 forwards;
    }
  }
}
