/* @fwrlines/generator-react-component 2.4.1 */
/*

Classes :
.dropzone : default

*/

.dropzone{

  .thumbnails {
    scrollbar-width: none;
    & > div {
      width:220px;
      height:100%;
      max-height:300px;

    }
  }

  .upload-area {
    display:flex;
    flex-direction:column;
    justify-content:space-around;
    align-items:center;
    background:var(--form-active-area-background);
    border: var(--form-border);
    border-radius: var(--form-border-radius);

    min-height:200px;
    text-align:center;
    padding:1em;

    &.drag-accept {
      //background:var(--form-active-area-background);
      border: var(--form-input-focus-border-color);

    }


    input {
      display:none;
    }
  }

}
