/* @fwrlines/generator-react-component 2.3.3 */

/*

Classes :
.price : default

*/

$gap:.5em;

.price {
  column-gap: $gap;
  display: inline-grid;
  grid-template-areas:
    ". integer decimal"
    "currency integer periodicity";
  justify-content: start;
  //row-gap:$gap;

  > p {
    margin: 0;
  }

  .currency {
    align-self: start;
    color: var(--subtitle);
    grid-area: currency;
  }

  .integer {
    color: var(--paragraph);
    font-size: calc(var(--s6) * 1em);
    grid-area: integer;
  }

  .decimal {
    align-self: end;
    color: var(--dark-paragraph);
    grid-area: decimal;
  }

  .integer {
    color: var(--paragraph);
    font-weight: bold;
  }

  .periodicity {
    align-self: start;
    color: var(--dark-subtitle);
    grid-area: periodicity;
  }

  .free {
    color: var(--dark-subtitle);
    font-size: calc(var(--s5) * 1em);
    font-weight: bold;
    grid-area: 1/1/3/4;
    text-transform: uppercase;
  }
}
