/*

Classes :
.card : default

*/
$transitionDuration:.2s;
$selectionAnimationHeight:.1em;
$transformHoverScale:1.02;

.card
{
  display:inline-block;
  transition:all $transitionDuration;
  position:relative;
  overflow:hidden;

  & > :first-child
  {
    border-radius:var(--r-top);
    overflow:hidden;
  }

  & > :last-child
  {
    border-radius:var(--r-bottom);
    overflow:hidden;
  }

  &.select
  {
    &.active,
    &:hover,
    &:focus
    {
	 		transform:scale($transformHoverScale);
    }
  }
}
