/* @fwrlines/generator-react-component 1.4.0 */

/*

Classes :
.input_description : default

*/

.input .description {
  margin: var(--form-description-margin);
  padding: var(--form-description-padding);
  color: var(--form-description-color);
  font-size: var(--form-description-font-size);

  &.valid {
    --form-description-color:var(--success);
  }

  &.error {
    --form-description-color:var(--error);
  }
}
