/*

Classes :
.rating : default

*/
$titleSize:1.4rem;
$starsSize:1.7rem;

.rating
{
  .stars,
  .title
  {
    margin:0;
  }
  .name
  {
    color:var(--grey);
    .content
    {
      color:var(--dark-grey);
      font-weight:bold;
    }
  }
  .title
  {
    font-size:$titleSize;
    font-weight:bold;
  }
  .stars
  {
    .fp
    {
      vertical-align:top;
    }
    font-size:$starsSize;
    margin-bottom:.3em;
    background:linear-gradient(
    to right,
    var(--yellow) 0%,
    var(--yellow) 60%,
    var(--light-yellow)90%,
    var(--yellow) 100%
    );
    -webkit-background-clip:text;
            background-clip:text;
    -webkit-text-fill-color:transparent;
    background-size:150%;

    &.anim
    {
      animation:back-horizontal 5s ease infinite;
    }
    .yes
    {
      color:var(--yellow);
    }
    .no
    {
      color:var(--light-grey);
      background:var(--light-grey);
      -webkit-background-clip:text;
              background-clip:text;
      -webkit-text-fill-color:transparent;
    }
  }
  &.incard
  {
    margin:1rem .5rem;
    display:inline-block;
  }
}
